@use "../1-tools/grid";

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  @media (max-width: grid.$tablet) {
    margin-top: 0;
  }
}